@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/
#app {
  height: 100%;
}

input.form-control[readonly] {
  background-color: white !important;
}

.font-20 {
  font-size: 20px;
}

.max-w-50 {
  max-width: 50%!important;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-20 {
   margin-top: 20%!important;
}

.m-auto{
  margin: auto;
}

.dropdown-item.active, .dropdown-item:active{
  color: #fff!important;
}

.react-time-picker.react-time-picker--closed.react-time-picker--enabled {
  background-color: white !important;
  border: #d7d7d7 !important;
  font-size: 0.8rem !important;
  border: 1px solid #d7d7d7 !important;
  border-radius: 0.1rem !important;
  width: 100% !important;
  outline: initial !important;
  padding: 0.5rem 0.75rem !important;
  line-height: 1;
}

.react-time-picker.react-time-picker--open.react-time-picker--enabled {
  background-color: white !important;
  border: #d7d7d7 !important;
  font-size: 0.8rem !important;
  border: 1px solid #d7d7d7 !important;
  border-radius: 0.1rem !important;
  width: 100% !important;
  outline: initial !important;
  padding: 0.5rem 0.75rem !important;
  line-height: 1;
}

.react-time-picker__wrapper{
  border: none!important;
}

.border-separator-right{
  border-right: 3px #922c88 solid;
}
